<h1>Welcome to acts_as_continuable examples</h1>

<ul>
<li>
<%= link_to 'Number guessing', :controller => :guess, :action => 'index'%>
</li>
<li>
<%= link_to 'Wizard Example', :action => 'wizard'%>
</li>
</ul>